/* Rosario. I've added and changed few things. Feel free to change it as you like */

/* Font size of 2.0 is too big, I'll reduce it */
body {
  font-size: 1.9rem;
  overflow-x: hidden;
}

/* Adding some text shadow*/
.site-head a { color:#333; }

/* The font is too large in the post view. Revert to small size*/
.post-header .blog-title {font-size:inherit;}

/* Reduce font size and add line-height*/
pre{
  font-size: 0.75em;
  line-height: 1.4em;
}

/* Author styling */
.author {margin-bottom:1em;}
.author header{
  float:left;
  width: 80px;
}
.author article{
  margin-left:80px;
  min-height: 80px;
  padding-left:20px;
}
img.profile {
  width:80px;
  height:auto;
}

/*****************************************************************************/
/* gist
/*****************************************************************************/

#readme.readme {
  padding: 0 1em;
}

/*****************************************************************************/
/* closed
/*****************************************************************************/
.closed:after {
  position: absolute;
  display: block;
  top: 20px;
  left: 0;
  width: 593px;
  height: 121px;
  border: 0;
  border-radius: 0;
  box-shadow: unset;
  background: transparent url('/trampos/assets/images/vaga-preenchida.png') no-repeat;
}

/*****************************************************************************/
/* Anunciar
/*****************************************************************************/
.anunciar {
  background-color: #E8DDCB;
  position: fixed;
  top: 2em;
  right: -64px;
  color: #333;
  padding: 1em;
  opacity: .7;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  transition: right .3s ease-in-out, opacity .3s ease-in-out;
}
.anunciar:hover {
  right: 0;
  opacity: 1;
}
.anunciar a {
  text-decoration: none;
}
